body{
	margin:0;
	padding:0;
	background-image:url(https://images.pexels.com/photos/777001/pexels-photo-777001.jpeg?cs=srgb&dl=dark-design-desk-777001.jpg&fm=jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center top;
  	background-size: cover;
  	background-image:opacity:0.5;

}
.image{
	margin:0;
	border-radius:60%;
	padding:0;
	width:450px;
	color:white;
	font-family:sans-serif;
}

.pic {
	border-radius:7%;
	width: 200px;
	height: 200px;
	border:3px solid #01a3a4;
}

.skills{
	opacity:0.5;
	background:#535c68;
	width:400px;
	height:130px;
	transition:transform .2s;
}
.skills p{
	font-family:Courier New;
	font-size:20px;
	text-align:center;
	color:black;
}

.skills h1{
	text-align:center;
	color:white;
}

.skills p ul{
	text-align:center;
}

.skills:hover {
	transform:scale(1.1);
}

.exp{
	opacity:0.5;
	background:#535c68;
	width:400px;
	height:130px;
	transition:transform .2s;
}

.exp:hover {
	transform:scale(1.1);
}

.exp h1{
	text-align:center;
	color:white;
}

.main{
	opacity:0.5;
	background:#535c68;
	width:400px;
	height:100px
	transition:transform .2s;

}
.main:hover {
	transform:scale(1.1);
}

.main p{
	font-family:Courier New;
	font-size:20px;
	text-align:center;
	color:black;
}


.main h1{
	text-align:center;
	color:white;
}


.contact{
	width:85%
	max-width:600px;
	background:#2c3e50;
	padding: 30px 40px;
	box-sizing:border-box;
	border-radius:9px;
	text-align:center;
	box-shadow: 0 0 22px #0000b3;
	display:inline-block;
	position: absolute;
 	left: 50%;
 	margin-left: -50px;


}

.contact h1{
	margin-top:0;
	font-weight:200;
}

.txtb{
	border:1px solid gray;
	margin:8px 0;
	padding:12px 18px;
	border-radius:8px;
}

.txtb label{
	color:#333
	display:block;
	text-align:left;
	text-transform:uppercase;
	font-size:14px
}

.txtb input,.txtb textarea{
	width:100%;
	border:none;
	outline:none;
	font-size:18px;
	margin-top:6px;
}

.btn{
	cursor:pointer;
	display:block;
	background:#3498db;
	padding: 14px 0;
	color: white;
	margin-top:8px;
	text-transform:uppercase;
	width:100%;
}